<div class="center-text footer">
	<div class="center s-link">
        <a href="https://www.instagram.com/" target="_blank" title="GLC on Instagram" class="uk-icon-button" uk-icon="size: 1.5; icon:instagram" class="uk-padding-small"></a>
        <a href="https://www.facebook.com/" target="_blank" title="GLC on Facebook" class="uk-icon-button" uk-icon="size: 1.5; icon:facebook" class="uk-padding-small"></a>
        <a href="https://www.linkedin.com/" target="_blank" title="GLC on LinkedIn" class="uk-icon-button" uk-icon="size: 1.5; icon:linkedin" class="uk-padding-small"></a>
    </div>
	<br>
	Gad Legal Consult &copy; {{year}}
</div>