.about {
    margin-top: 100px;
    margin-bottom: 200px;
}

.form-div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.uk-input, .uk-select, .uk-textarea, .uk-placeholder {
    width: 70%;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    width: 48%;
}

.h-text {
    font-size: 18pt;
}