.logo {
    height: 70px;
}

.p-l-nav {
    position: absolute;
    z-index: 980;
    top: 0;
    width: 100%;
    // background-color: #94898960;
    background-color: #adadad60;
}

// .uk-offcanvas-bar {
//     background-color: #adadad;
// }