<div class="contact">
	<div class="uk-card uk-card-default uk-card-body uk-width-2-3@m center">
		<h2 class="uk-card-title center-text">Contact Us</h2>
		<div>
			<div>
				<span class="bold">Phone Number: </span><a href="tel:+2348037023443">+2348037023443</a>
			</div>
			<div>
				<span class="bold">Email Address: </span><a href="mailto:info@iaadejumo.com">info@iaadejumo.com</a>
			</div>
		</div>
		<br>
		<div>
			<h4 class="p-sec">Physical Addresses</h4>
			<div>
				<div>
					<h5 class="bold">Main Branch</h5>
					9/3 Main Market Street,
					<br>
					Jos,
					<br>
					Plateau State.
				</div>
				<h5 class="bold">Other Branches</h5>
				<div uk-grid>
					<div class="uk-width-1-2@m center">
						10/17 Ndu Street,
						<br>
						Jos,
						<br>
						Plateau State.
					</div>
					<div class="uk-width-1-2@m center">
						9 Tafawa Balewa Street,
						<br>
						Jos,
						<br>
						Plateau State.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>