<div class="contact">
	<div class="uk-card uk-card-default uk-card-body uk-width-2-3@m center">
		<h2 class="uk-card-title center-text">Contact Us</h2>
		<div>
			<div>
				<span class="bold">Phone Number: </span><a href="tel:+2348166084797">+2348166084797</a>
			</div>
			<div>
				<span class="bold">Email Address: </span><a href="mailto:victormomodu25@gmail.com">victormomodu25@gmail.com</a>
			</div>
			<div>
				<span class="bold">Gad Legal Consult's Email: </span><a href="mailto:gadlegalconsult@gmail.com">gadlegalconsult@gmail.com</a>
			</div>
		</div>
		<br>
	</div>
</div>