<div class="contact">
	<div class="uk-card uk-card-default uk-card-body uk-width-2-3@m center">
		<h2 class="uk-card-title center-text">Contact Us</h2>
		<div>
			<div>
				<span class="bold">Phone Number: </span><a href="tel:+2348030000111">+2348030000111</a>
			</div>
			<div>
				<span class="bold">Email Address: </span><a href="mailto:info@glc.com">info@glc.com</a>
			</div>
		</div>
		<br>
		<div>
			<h4 class="p-sec">Physical Address</h4>
			<div>
				<div>
					No. 49, Murtala Mohammed Way,
					<br>
					Jos,
					<br>
					Plateau State.
				</div>
			</div>
		</div>
	</div>
</div>