<div class="home-page">
	<div id="main-div">
		<br><br>
		<h1 class="center-text"><span class="t-bg">I.A. Adejumo & Sons</span></h1>
		<div class="banner-text">
			Whether you're stocking up your retail business or purchasing for your company,
			head over to I.A. Adejumo & Sons for best in class products offered at affordable
			rates.
		</div>
		<hr class="placeholder">
	</div>
	<div uk-grid>
		<div class="uk-card uk-card-default uk-card-body uk-width-1-3@m center">
			<h3 class="uk-card-title center-text">Quality Guaranteed</h3>
			<p>
				All of our products come with our highest quality assurance. Your satisfaction is our main priority.
				<a [routerLink]="['/contact']">Reach out</a> to us today for all your wholesale/distribution needs.
			</p>
		</div>
		<div class="uk-card uk-card-default uk-card-body uk-width-1-3@m center">
			<h3 class="uk-card-title center-text">Affordable Pricing</h3>
			<p>
				Our high quality assurance doesn't mean we sacrifice affordability. Knowing you
				values both quality and affordability means we strive to make all our goods available
				to you at the most affordable rates.
			</p>
		</div>
	</div>
</div>