#main-div {
    background-image: url('/assets/home3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 100vh;
}

.t-bg {
    background-color: #e4e4e460;
}

.banner-text {
    width: 50%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
}

.placeholder {
    opacity: 0;
}